<!-- HERO -->
<tr>
	<td align="center" valign="middle">
		<img src="https://imgs.plusoftdtm.com/coop/pontual/2024/0423_SaudaveisAbril/hero.png" width="650" style="width:650px; max-width:100%; color:#333333; font-family: Arial, sans-serif; font-size:20px; text-align:center; display:block;" border="0" alt="#" />
	</td>
</tr>