<!--HERO-->
<tr>
   <td align="center" valign="middle">
      <a href="https://www.clienteclubemais.com.br/" target="_blank">
         <img src="https://www.dtmarketing.com.br/mmkt/csd/2023/231010_Inativos/hero.jpg" width="650" style="width:650px; max-width:100%; font-family: Arial, sans-serif; display:block;" border="0" alt="#"/>
      </a>
   </td>
</tr>