<!-- VALIDADE -->
<tr>
   <td align="center" valign="top" style="padding: 10px 25px 25px">
      <!--[if mso]><table width="440" cellpadding="0" cellspacing="0" border="0" align="center"><tr><td align="center" valign="top"><![endif]-->
      <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:440px;">
         <tr>
            <td align="center" valign="top" style="font-family: Arial, sans-serif; font-size:11px; color:#FFFFFF; text-align:center; line-height:16px;">
               <strong>Ofertas válidas de 10/10/2023 a 17/10/2023</strong>. Consulte disponibilidade em nossas lojas. Alguns produtos podem não estar disponíveis em todas as lojas. 
            </td>
         </tr>
      </table>
      <!--[if mso]></td></tr></table><![endif]-->
   </td>
</tr>