<tr>
   <td align="center" valign="top" style="padding: 20px 20px 20px 20px">
      <a href="https://www.clienteclubemais.com.br" target="_blank">
         <img src="https://iili.io/JWrPHwg.png" border="0" alt="Ative Suas Ofertas Exclusivas no APP!"/>
      </a>
   </td>
</tr>