<tr>
	<td align="center" valign="middle" style="padding: 25px 10px 10px 10px" bgcolor="#EFEFEF">
		<a href="https://www.coopdrogaria.com.br/?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=header" target="_blank">
			<img src="https://imgs.plusoftdtm.com/coop/padronizacao/headerfooter/header_logo_droga.png" width="208" style="width:208px; max-width:100%; display: block" border="0" alt="Coop Drogaria" />
		</a>
	</td>
</tr>