<!--CTAs-->
	<tr>
		<td align="center" valign="middle" style="padding: 4px 0px 4px 0px">
			<a href="../<#LINK_PRINCIPAL>?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=cta" target="_blank">
				<img src="https://imgs.plusoftdtm.com/coop/padronizacao/ctas/cta_super.png" width="250" style="width:250px; max-width:100%; display:block" border="0" alt="Confira mais ofertas" />
			</a>
		</td>
	</tr>
	<tr>
		<td align="center" valign="middle" style="padding: 7px 0px 4px 0px;">
		   <a href="https://www.portalcoop.com.br/nossas-lojas/?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=cta" target="_blank" style="color: #ffffff; font-family: Arial, sans-serif; font-size:19px; color:#ffffff; text-align:center">
				<strong>Encontre sua loja</strong>
		   </a>
		</td>
	 </tr>