<!--HEADER-->
<tr>
	<td align="center" valign="middle" style="padding: 25px 10px 10px 10px"  bgcolor="#EFEFEF">
		<a href="https://www.portalcoop.com.br/coop-emporio/?utm_source=crm_ibope&utm_medium=email&utm_campaign=EMKTEmporioQuinzenal_Novembro18.11.2024&utm_content=header" target="_blank">
			<img src="https://imgs.plusoftdtm.com/coop/Padronizacao/HeaderFooter/Emporio/hero_header.png" width="188" style="width:188px; max-width:100%" border="0" alt="Coop Emporio" />
		</a>
	</td>
</tr>