<!--ENCERRAMENTO-->
<tr>
   <td align="center" valign="top" style="padding: 30px 15px 40px 15px">
      <img src="https://imgs.effectivecampaign.com.br/coop/htmlmaker/encerramento.png" width="286" style="width:286px; max-width:100%; display: block" border="0" alt="">
   </td>
</tr>