<!--CHAMADA-->
<tr> 
   <td align="center" valign="middle" style="padding: 20px 20px 10px 20px">
      <img src="https://imgs.plusoftdtm.com/coop/template/chamada1.png" width="228" style="width:228px; max-width:100%; display:block;" border="0" alt="Garanta agora!" />
   </td>
</tr>