<!--HEADER-->
<tr>
   <td align="center" valign="middle" style="padding: 25px 10px 10px 10px"  bgcolor="#EFEFEF">
      <a href="hhttps://www.portalcoop.com.br/meuatacarejo/?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=header" target="_blank">
         <img src="https://imgs.cliente.portalcoop.com.br/padronizacao/headerfooter/header_logo_atacarejo.png" width="200" style="width:200px; max-width:100%; display: block" border="0" alt="Coop Meu Atacarejo" />
      </a>
   </td>
</tr>