<!--HEADER-->
<tr>
   <td align="center" valign="middle" style="padding: 25px 10px 10px 10px"  bgcolor="#EFEFEF">
      <a href="https://www.coopsupermercado.com.br/?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=header" target="_blank">
         <img src="https://imgs.effectivecampaign.com.br/coop/padronizacao/headerfooter/header_logo_super.png" width="200" style="width:200px; max-width:100%; display: block" border="0" alt="Coop Supermercado">
      </a>
   </td>
</tr>