<!--HERO-->
<tr>
   <td align="center" valign="top" bgcolor="#EFEFEF" style="font-size: 0">
      <a href="<#LINK_PRINCIPAL>/?utm_source=crm_ibope&utm_medium=email&utm_campaign=<#UTM_NOMECAMPANHA>&utm_content=hero" target="_blank">
         <img src="https://imgs.plusoftdtm.com/coop/htmlmaker/hero.png" width="680" style="width:680px; max-width:100%; display:block" border="0" alt="<#ALT_HERO>" />
      </a>
   </td>
</tr> 