<!--HEADER-->
<tr>
	<td align="center" valign="middle" bgcolor="#EFEFEF" style="padding: 25px 10px 10px 10px" >
		<a href="https://www.portalcoop.com.br/?utm_source=crm_ibope&utm_medium=email&utm_campaign=parametrizacao&utm_content=header" target="_blank">
			<img src="https://imgs.plusoftdtm.com/coop/Padronizacao/HeaderFooter/Institucional/hero_header.png" width="119" style="width:119px; max-width:100%" border="0" alt="Coop drogaria" />
		</a>
	</td>
</tr>