<!-- ENCERRAMENTO -->	
<tr>
   <td align="center" valign="top" style="padding: 10px 20px 20px 20px">
      <img src="https://imgs.plusoftdtm.com/coop/template/encerramento.png" width="329" style="width:329px; max-width:100%; display:block;" border="0" alt="A Coop cuida da família toda!" />
   </td>
</tr> 