<!--HEADER-->
<tr>
	<td align="center" valign="middle" style="padding: 25px 10px 25px 10px" bgcolor="#EFEFEF">
		<a href="https://www.coopdrogaria.com.br/?utm_source=crm_ibope&utm_medium=email&utm_campaign=parametrizacao&utm_content=header" target="_blank">
			<img src="https://imgs.plusoftdtm.com/coop/Padronizacao/HeaderFooter/Droga/hero_header.png" width="177" style="width:177px; max-width:100%" border="0" alt="Coop drogaria" />
		</a>
	</td>
</tr>