<!-- CTA -->
<tr>
   <td align="center" valign="top" style="padding: 20px 5px 40px 5px">
      <a href="https://www.coopsupermercado.com.br/?utm_source=crm_ibope&utm_medium=email&utm_campaign=EMKTLimpezaNovembro_21.11.2024&utm_content=cta" target="_blank">
         <img src="https://imgs.plusoftdtm.com/coop/pontual/2024/1118_LimpezaNovembro_2111/cta.png" width="250" style="width:250px; max-width:100%; display:block;" border="0" alt="Confira mais ofertas" />
      </a>
   </td>
</tr>