<!-- CTA -->
<tr>
   <td align="center" valign="top" style="padding: 0px 20px 0px 20px">
      <a href="https://www.clienteclubemais.com.br" target="_blank">
         <img src="https://www.dtmarketing.com.br/mmkt/csd/2023/231010_Inativos/HeaderFooter/cta_app.png" width="263" style="width:263px; max-width:100%; font-family: Arial, sans-serif; display:block;" border="0" alt="Ative Suas Ofertas Exclusivas no APP!"/>
      </a>
   </td>
</tr>