<!--header-->
<tr>
   <td>
      <table class="StartEmkt" style="width: 100%; padding: 0 16px;" bgcolor="#eeeeee" >
         <tr>
            <td style="width:50%">
               <span class="SeeOnline" style="font-size: 10px; text-decoration: underline; font-family: 'Inter','Arial',sans-serif;">
						<a href="%%view_email_url%%" target="_blank" rel="noopener" style="color: #777777; font-family: 'Inter','Arial',sans-serif; text-decoration: underline;">Ver Online</a>
					</span>
				</td>
				<td style="width: 50%; text-align: right;">
					<p class="AddEmail" style="font-size: 10px; color: #000000; font-family: 'Inter','Arial',sans-serif;">
						Adicione <a href="mailto:relacionamento@email.extrafarma.com.br" rel="noopener" style="color: #002877; text-decoration: none; font-weight: bold;">relacionamento@email.extrafarma.com.br</a> aos seus contatos e garanta que nossos e-mails cheguem em sua caixa de entrada.
					</p>
				</td>
			</tr>
		</table>
	</td> 
</tr>
<tr>
	<td align="center" valign="top" style="padding: 40px 20px 20px 20px" bgcolor="#ffffff">
		<a href="https://www.extrafarma.com.br/?<#PARAMETRIZACAO>" target="_blank">
			<img src="https://image.email.extrafarma.com.br/lib/fe3211727164047b731674/m/1/d98ca258-6f0b-466b-aafe-1c619dba95c2.png" width="202" style="width:202px; max-width:100%; display:block;" border="0" alt="Extrafarma"/>
		</a>
	</td>
</tr>
<tr>
	<td align="center" valign="top" style="padding: 10px 5px" bgcolor="#2E034C">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" >
			<tr>
				<td align="center" valign="top" style="text-align:center"  bgcolor="#2E034C">
					<a href="https://www.extrafarma.com.br/ofertas/?<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:11px; color:#ffffff; font-weight:700; text-decoration:none">OFERTAS&nbsp;&nbsp;</a>
					<a href="https://www.extrafarma.com.br/mamaes-e-bebes/?<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:11px; color:#ffffff; font-weight:700; text-decoration:none">&nbsp;&nbsp;&nbsp;CUIDADO INFANTIL &nbsp;&nbsp;</a>
					<a href="https://www.extrafarma.com.br/dermo-e-beleza/?<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:11px; color:#ffffff; font-weight:700; text-decoration:none">&nbsp;&nbsp;&nbsp;DERMOCOSMÉTICOS &nbsp;&nbsp;</a>
					<a href="https://www.extrafarma.com.br/medicamentos-e-saude/?<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:11px; color:#ffffff; font-weight:700; text-decoration:none">&nbsp;&nbsp;&nbsp;MEDICAMENTOS E SAÚDE&nbsp;&nbsp;</a>
					<a href="https://www.extrafarma.com.br/cuidados-pessoais-e-beleza/?<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:11px; color:#ffffff; font-weight:700; text-decoration:none">&nbsp;&nbsp;&nbsp;HIGIENE E BELEZA &nbsp;&nbsp;</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<!--fim HEADER-->