<!--vitrine-->
<tr>
   <td align="center" valign="top">
		<a href="<#LINK>" target="_blank" >
			<img src="https://imgs.plusoftdtm.com/fpm/htmlmaker/EXF_Vitrine01.png" width="680" style="width:680px; max-width:100%; display:block;" border="0" alt="#" />
		</a>
	</td>
</tr>