<!--header-->
<tr>
   <td>
		<table class="StartEmkt" style="width: 100%; padding: 0 16px;" bgcolor="#ffffff">
			<tr>
				<td style="width: 50%;">
					<span class="SeeOnline" style="font-size: 10px; text-decoration: underline; font-family: 'Inter','Arial',sans-serif;">
						<a href="%%view_email_url%%" target="_blank" rel="noopener" style="color: #777777; font-family: 'Inter','Arial',sans-serif; text-decoration: underline;">Ver Online</a>
					</span>
				</td>
				<td style="width: 50%; text-align: right;">
					<p class="AddEmail" style="font-size: 10px; color: #000000; font-family: 'Inter','Arial',sans-serif;">
						Adicione <a href="mailto:relacionamento@email.paguemenos.com.br" rel="noopener" style="color: #002877; text-decoration: none; font-weight: bold;">relacionamento@email.paguemenos.com.br</a> aos seus contatos e garanta que nossos e-mails cheguem em sua caixa de entrada.
					</p>
				</td>
			</tr>
		</table>
	</td> 
</tr>

<tr><td align="center" valign="top" style="padding: 10px" bgcolor="#E5F2F9"></td></tr>
 <tr>
 	<td align="center" valign="top" style="padding: 10px" bgcolor="#E5F2F9">
  		<a href="https://www.paguemenos.com.br/<#PARAMETRIZACAO>" target="_blank">
    		<img src="https://image.email.paguemenos.com.br/lib/fe5115707c620174721d/m/1/85128434-257a-403b-aa80-8a07b2e9a25b.png" width="200" style="width:200px; max-width:100%; display:block;" border="0" alt="Pague Menos"/>
   		</a>
  	</td>
 </tr>
 <tr>
 	<td align="center" valign="top" style="padding: 20px 5px" bgcolor="#E5F2F9" >
   		<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" >
			<tr>
				 <td align="center" valign="top" style="text-align:center">
				  <a href="https://www.paguemenos.com.br/medicamentos-e-saude/<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:12px; color:#0000BE; text-decoration:none">MEDICAMENTOS&nbsp;&nbsp;</a>
				  <a href="https://www.paguemenos.com.br/cuidados-pessoais-e-beleza/<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:12px; color:#0000BE; text-decoration:none">|&nbsp;&nbsp;&nbsp;HIGIENE E BELEZA &nbsp;&nbsp;</a>
				  <a href="https://www.paguemenos.com.br/dermo-e-beleza/<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:12px; color:#0000BE; text-decoration:none">|&nbsp;&nbsp;&nbsp;DERMOCOSMÉTICOS &nbsp;&nbsp;</a>
				  <a href="https://www.paguemenos.com.br/mamaes-e-bebes/<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:12px; color:#0000BE; text-decoration:none">|&nbsp;&nbsp;&nbsp;MAMÃES E BEBÊS&nbsp;&nbsp;</a>
				  <a href="https://www.paguemenos.com.br/vitrine-de-ofertas/<#PARAMETRIZACAO>" target="_blank" style="font-family: arial; font-size:12px; color:#0000BE; text-decoration:none">|&nbsp;&nbsp;&nbsp;OFERTAS &nbsp;&nbsp;</a>
				 </td>
			</tr>
	  	</table>
	</td>
 </tr>

 <tr>
 <td align="center" class="wrap" valign="top" bgcolor="#0000BE" style="font-size: 0; line-height:0; padding: 0px 0px 20px 0px; border-radius: 20px 20px 20px 20px;">
 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">