<!--HERO-->
<tr>
	<td align="center" valign="top" bgcolor="#F4F4F4" style="font-size: 0; padding: 0px 20px 30px 20px">
		<a href="<#LINK_PRINCIPAL>" target="_blank">
			<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/vitrine_ctamaisofertas.png" width="216" style="width:100%; max-width:216px" border="0" alt="Confira Mais Ofertas" />
		</a>
	</td>
</tr>