<!--VITRINE_CHAMADA-->
<tr>
	<td align="center" valign="top" style="padding: 0px 20px 10px 20px">
		<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/vitrine_chamada.png" width="274" style="width:100%; max-width:274px" border="0" alt="<#TEXTO_IMG>" />
	</td>
</tr>
