<!--VITRINE_PRODUTO-->
<tr>
	<td align="center" valign="top" style="padding: 0px 10px 10px 10px">
		<a href="<#LINK_PROD01>" target="_blank">
			<img src="https://imgs.effectivecampaign.com.br/zonasul/htmlmaker/prod01.png" width="219" style="width:219px; max-width:100%; display: block" border="0" alt="" />
		</a>
	</td>
</tr>	

