<!--HERO-->
<tr>
	<td align="center" valign="top" bgcolor="#F4F4F4" style="font-size: 0">
		<a href="<#LINK_PRINCIPAL>" target="_blank">
			<img src="https://imgs.effectivecampaign.com.br/zonasul/htmlmaker/hero.png" width="680" style="width:680px; max-width:100%; display: block" border="0" alt="<#ALT_HERO>" />
		</a>
	</td>
</tr>
