<!--BANNER-->
<tr>
	<td align="center" valign="top" style="font-size: 0">
		<a href="<#LINK_BANNER>" target="_blank">
			<img src="https://imgs.effectivecampaign.com.br/zonasul/htmlmaker/banner.png" width="680" style="width:680px; max-width:100%; display: block" border="0" alt="<#ALT_BANNER>" />
		</a>
	</td>
</tr>
