<!--HERO-->
<tr>
	<td align="center" valign="top" bgcolor="#F4F4F4" style="font-size: 0">
		<a href="<#LINK_PRINCIPAL>" target="_blank">
			<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/hero.png" width="680" style="width:100%; max-width:680px" border="0" alt="<#TEXTO_IMG>" />
		</a>
	</td>
</tr>
