<!--BANNER-->
<tr>
	<td align="center" valign="top" bgcolor="#F4F4F4" style="font-size: 0">
		<a href="<#LINK_BANNER>" target="_blank">
			<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/banner.png" width="680" style="width:100%; max-width:680px" border="0" alt="<#TEXTO_IMG>" />
		</a>
	</td>
</tr>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">QA7UY62FZWNU-450026745-65320</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">99db72a5-3c29-4e83-8241-96b854a67be7</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://plusoft.sharepoint.com/sites/Fileserver_DTM-Criacao/_layouts/15/DocIdRedir.aspx?ID=QA7UY62FZWNU-450026745-65320, QA7UY62FZWNU-450026745-65320</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>