<!--VITRINE_CHAMADA-->
<tr>
	<td align="center" valign="top" style="padding: 0px 15px 10px 15px">
		<img src="https://imgs.effectivecampaign.com.br/zonasul/htmlmaker/vitrine_chamada.png" width="274" style="width:274px; max-width:100%; display: block" border="0" alt="<#ALT_VITRINE_CHAMADA>" />
	</td>
</tr>
