<!--CTA MAIS OFERTAS-->
<tr>
	<td align="center" valign="top" style="font-size: 0; padding: 30px 10px 0px 10px">
		<a href="<#LINK_PRINCIPAL>" target="_blank">
			<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/vitrine_ctamaisofertas.png" width="216" style="width:216px; max-width:100%; display: block" border="0" alt="Confira Mais Ofertas" />
		</a>
	</td>
</tr>
