<!--VITRINE_CHAMADA-->
<tr>
	<td align="center" valign="top" style="padding: 0px 20px 10px 20px">
		<img src="https://imgs.plusoftdtm.com/zonasul/htmlmaker/vitrine_chamada.png" width="274" style="width:100%; max-width:274px" border="0" alt="<#TEXTO_IMG>" />
	</td>
</tr>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">QA7UY62FZWNU-450026745-65318</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">8e8ba2c2-8533-4611-a7cf-569edbfc04d2</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://plusoft.sharepoint.com/sites/Fileserver_DTM-Criacao/_layouts/15/DocIdRedir.aspx?ID=QA7UY62FZWNU-450026745-65318, QA7UY62FZWNU-450026745-65318</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>