<!--TEXTO-->
<tr>
	<td align="center" valign="top" style="padding: 20px 20px 20px 20px">
		<!--[if mso]><table width="420" cellpadding="0" cellspacing="0" border="0" align="center"><tr><td align="center" valign="top"><![endif]-->
		<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:420px">
			<tr>
				<td align="center" valign="top" style="font-family: Arial, sans-serif; font-size:16px; color:#333132; text-align:center; line-height:22px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, <strong>sed do eiusmod tempor incididunt ut labore et dolore</strong> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
				</td>
			</tr>
		</table>
		<!--[if mso]></td></tr></table><![endif]-->
	</td>
</tr>	
